{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Branch Details Update{% endblock %}
{% block body %}
<center>
    <h1>Branch Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'admin_bank_master_edit'%}" method="post">
        {% csrf_token %}
         <div class="form-group">
            <label for="bankname">Bank Name :</label>
            <input class="form-control" name="bankname" id="bankname" type="text"  value="{{bm.bankname}}">
         </div>
         <div class="form-group">
            <label for="bankifsc">Bank IFSC :</label>
            <input class="form-control" name="bankifsc" id="bankifsc" type="text"  value="{{bm.bankifsc}}">
         </div>
         <div class="form-group">
            <label for="bankaddress">Address :</label>
             <textarea class="form-control" name="bankaddress" id="bankaddress">{{bm.bankaddress}}</textarea>
         </div>
         <div class="form-group">
            <label for="bankcontact">Bank Contact :</label>
            <input class="form-control" name="bankcontact" id="bankcontact" type="text"  value="{{bm.bankcontact}}">
         </div>
         <div class="form-group">
            <label for="bankemail">Bank Name :</label>
            <input class="form-control" name="bankemail" id="bankemail" type="text"  value="{{bm.bankemail}}">
         </div>
         <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
         <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
         <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <b>{{msg}}</b>
</center>
{% endblock %}
